<?xml version="1.0" encoding="UTF-8"?>
<!-- definitions of springframework -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">



   <!-- to configure java object -->
   <bean id="m1" class="com.jsp.spring.Mobile">
   </bean>
   <bean id="m2" class="com.jsp.spring.Mobile">
   </bean>
   

</beans>